.cardContainer {
	display: flex;
	/* flex-direction: row; */
	margin-top: 6rem;
	justify-content: center;
}

/* .cardImage {
	width: 500px;
	height: 230px;
} */

.cardImage img {
	border-radius: 4px;
}

.cardDescription {
	width: 450px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.cardDescription h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	color: var(--color-white);
	margin-top: 2rem;
}

.cardDescription p {
	color: var(--color-white);
	font-size: 16px;
	font-weight: 300;
	line-height: 21px;
}
