.cardContainer {
	display: flex;
	flex-direction: row;
	margin-top: 6rem;
}

.cardImage {
	width: 450px;
	height: 250px;
}

.cardImage img {
	border-radius: 4px;
}

.cardDescription {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.cardDescription h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	color: var(--color-white);
	margin-top: 2rem;
}

.cardDescription p {
	color: var(--color-gray);
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
}
