.footer {
	padding: 4rem 1rem;
	border-top-style: groove;
	border-top-width: 1px;
	border-top-color: rgba(91, 110, 128, 0.11);
}

.socialmedia {
	text-align: right;
}

.socialmedia a:first-child {
	margin-right: 20px;
}

.Title {
	font-size: 17px;
	line-height: 5px;
	color: var(--color-gray);
	font-weight: var(--font-regular);
}
