.footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.socialmedia {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.socialmedia a:first-child {
	text-decoration: none;
	color: var(--color-black);
	margin-right: 20px;
}

@media screen and (max-width: 1000px) {
	.socialmedia {
		flex-direction: column;
	}
}
