:root {
	--font-sans: 'Inter', sans-serif;
	--color-black: rgba(19, 19, 21, 1);
	--color-white: rgba(255, 255, 255, 1);
	--color-gray: rgba(128, 128, 128, 1);
	--color-blue: rgba(3, 136, 252, 1);
	--color-yellow: rgba(250, 217, 0, 0.99);
	--color-vue: #36d28c;
	--color-react: #4cd7fd;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-sans);
	background-color: var(--color-white);
	color: var(--color-black);
}

* {
	box-sizing: border-box;
}

::selection {
	background-color: var(--color-yellow);
	color: var(--colors-black);
}

a {
	text-decoration: underline;
	color: var(--color-blue);
}
