.main {
	padding: 7rem 1rem;
}

.title {
	font-size: 26px;
	line-height: 35px;
	font-weight: var(--font-medium);
	width: 600px;
	margin-top: 5rem;
	margin-bottom: 3.5rem;
}

.subtitle {
	font-size: 23px;
	line-height: 34px;
	font-weight: var(--font-regular);
	width: 600px;
	margin-bottom: 3rem;
	color: var(--color-gray);
}

.paragraph {
	font-size: 23px;
	line-height: 34px;
	font-weight: var(--font-regular);
	width: 600px;
	color: var(--color-gray);
}

.vue {
	color: var(--color-vue);
	font-weight: var(--font-medium);
}

.react {
	color: var(--color-react);
	font-weight: var(--font-medium);
}

@media screen and (max-width: 1000px) {
	.main {
		padding: 4rem 1rem;
	}
	.subtitle,
	.title,
	.paragraph {
		width: 100%;
	}
}
