.projectContainer {
	background: #673ab7; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#512da8,
		#673ab7
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#512da8,
		#673ab7
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: var(--color-white);
	border-radius: 4px;
	min-height: 500px;
	height: auto;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.projectTitle {
	font-size: 24px;
	line-height: 24px;
	font-weight: 500;
}

.projectList {
	list-style: outside none none;
	padding-left: 0px;
	color: var(--colors-white);
}

@media screen and (max-width: 1000px) {
	.projectContainer {
		padding-left: 1rem;
		padding-right: 1rem;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}
