.projectContainer {
	min-height: 500px;
	height: auto;
	padding: 5rem 1rem;
}

.projectTitle {
	font-size: 23px;
	line-height: 24px;
	font-weight: 500;
}

.projectList {
	list-style: outside none none;
	padding-left: 0px;
}

@media screen and (max-width: 1000px) {
	.projectContainer {
		padding: 3rem 1rem;
		border-radius: 0px;
	}
}
