.containerItem {
	margin-bottom: 25px;
}
.containerTop {
	align-items: center;
	display: flex;
}
.containerCircle {
	background-color: rgb(170, 170, 170);
	height: 40px;
	width: 40px;
}
.containerTitle {
	flex: 1;
	margin-left: 20px;
}
.containerTitle a {
	color: var(--color-pink);
	text-decoration: none;
}
.containerTitle p {
	margin: 0;
	line-height: 35px;
	color: var(--color-gray);
}
